/*
Use this file to define your global styles.

If you prefer to use CSS, change the file extension
to .css and update the import in `pages/_app.js`

If you have CSS files in node_modules you wish to import,
it is recommended to import those directly to `pages/_app.js`

@see: docs/css-imports.md
*/

.main-content-container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.main-content {
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1640px;
}

.journal-button-set {
  text-align: center;
  margin: .5rem auto;
}

.border-content {
  border: 1px solid lightgrey;
  border-collapse: collapse;
}

.scroll-x {
  overflow-x: auto;
}

.margin-block {
  margin-top: 1em;
  margin-bottom: 1em;
}
